<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdth.bdjk"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />      
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />       
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bdth.bdjk.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <receiver
            android:name="com.bdth.bdjk.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="com.bdth.bdjk.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bdth.bdjk.IndexActivity"
            android:label="@string/title_activity_index"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bdth.bdjk.SettingActivity"
            android:label="@string/title_activity_setting" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.bdth.bdjk.AboutActivity"
            android:label="@string/title_activity_about" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.bdth.bdjk.InfoActivity"
            android:label="@string/title_activity_info" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
    </application>

</manifest>
